<HTML>

    <head>
       <link rel="stylesheet" href="static/styles.css">
    </head>
 
    <BODY class = "">
       <div id="topnav">
          <a href="home.html">Home</a> <!--Home page-->
          <a href="addgame.html">Add Game</a> <!--Step 1-->
          <a href="addplayer.html">Add Player</a> <!--Step 2-->
          <a href="viewplayers.html">View Players</a> <!--Steps 3 and 4 (players on team and positions on a team)-->>
          <a href="standings.html">View Standings</a> <!--Step 5-->
          <a href="viewgames.html">View Games by Team</a> <!--Step 6-->
          <a href="viewresults.html">View Game Results</a> <!--Step 7-->
 
          <h1>NFL Database</h1>
    
       </div>
       
      
    </BODY>
 </HTML>
 