#topnav{
    position:fixed;
    background-color: #282A35;
    color:#f1f1f1;
    padding:0;
    letter-spacing:1px;
    font-family: 'Source Sans Pro Topnav', sans-serif;
    font-size:0;
    top:0;
    left:0;
    z-index:1000;
    width:100%;
    white-space:nowrap;
    overflow:auto;
    scrollbar-width: none;
}

#topnav a {
    float: left; 
    display: block;
    color: white; 
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px; 
}

#topnav a:hover {
    background-color: #ddd; 
    color: black;
}

#viewplayers .form-group {
    display: inline-block;
    margin-right: 20px; /* Adds space between the dropdowns */
}
#viewplayers label {
    margin-right: 10px; /* Adds space between the label and the dropdown */
}
#viewplayers select {
    width: 200px; /* Adjust width  */
}